.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 4px solid #276aae;
  border-radius: 10px;
  background: white 5px center/3em no-repeat;
  background-image: url("images/info.png");
}

.homework {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 4px solid green;
  border-radius: 10px;
  background:   white  5px center/3em no-repeat;
  background-image: url("images/work.gif");
}

