---
title: 'TP1 : Création d''un projet et manipulation de couches vectorielles'
author: "Victor PÉNOT"
output:
  bookdown::gitbook:
  config:
    toc:
      collapse: subsection
      scroll_highlight: yes
      before: null
      after: null
    toolbar:
      position: fixed
    edit : null
    download: null
    search: yes
    fontsettings:
      theme: white
      family: sans
      size: 2
    sharing:
      facebook: yes
      github: no
      twitter: yes
      linkedin: no
      weibo: no
      instapaper: no
      vk: no
      all: ['facebook', 'twitter', 'linkedin', 'weibo', 'instapaper']
    info: yes
  bookdown::pdf_book:
    toc: yes
    includes: 
      in_header: preambule.tex
---



<div id="ouverture-de-la-console-python" class="section level1">
<h1>Ouverture de la console Python</h1>
<p>Argis utilise Python 2.7. Afin d'ouvrir la console Python, cliquer sur un bouton se trouvant dans la barre d'accès aux modules (Toolbox, etc.)</p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-1"></span>
<img src="images_qgis/1.png" alt="Accès à  la console Python" width="100%" />
<p class="caption">
Figure 1: Accès à la console Python
</p>
</div>
Une console rudimentaire s'affiche. Grâce à celle-ci, nous pouvons interagir avec Arcgis et Python en général. Un simple <code>print(&quot;Hello World!)&quot;</code> le démontre.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-2"></span>
<img src="images_qgis/3.png" alt="Hi guys !" width="80%" />
<p class="caption">
Figure 2: Hi guys !
</p>
</div>
<p>Mais avec Python, ça n'est pas très interactif. Arcgis ne dispose pas d'éditeur de code intégrer, contrairement à Qgis. Nous sommes dans l'obligation d'ouvrir un éditeur externe (IDLE, Emacs, etc) pour écrire proprement le code, puis de le copier-coller dans la console afin d'exécuter le script et avoir un retour graphique. Tous les scripts peuvent être écrit et exécuter de façon autonome dans IDLE dès lors que Arcgis est installé et qu'aucun interaction graphique n''est requise.</p>
</div>
<div id="mise-en-place-du-répertoire-de-travail" class="section level1">
<h1>Mise en place du répertoire de travail</h1>
<p>Avant toute chose, Argis requiert qu'on lui indique le répertoire de travail. Cela s'effectue en instanciant l'attribut <code>arcpy.env.workspace</code> avec le chemin vers le dossier ou la géodatabase de travail. Pour des raison de praticité, nous choisirons toujours le dossier &quot;RES&quot; du TP en cours.</p>
<pre class="python"><code># Chemin vers les modules Arcpy uniquement en 208
import sys 
sys.path.append(r&quot;C:\Python27\ArcGIS10.3\Lib\site-packages&quot;)

# Module Python de Arcgis
import arcpy
# Repertoire de travail
arcpy.env.workspace=r&quot;C:\Users\victor.penot\Desktop\ARCPY\TP1\RES&quot;
# chemin relatif vers le jeu de donnees
data_path=r&quot;..\..\DATA&quot;</code></pre>
</div>
<div id="chargement-du-projet-courant" class="section level1">
<h1>Chargement du projet courant</h1>
<p>Nous pouvons désormais charger le projet courant (celui que nous avons créé en ouvrant Arcgis). Pour ce faire, nous devons charger le module <code>arcpy.mapping</code>.</p>
<pre class="python"><code># chargement du  projet document courant
import arcpy.mapping as mapping
mxd=mapping.MapDocument(&quot;CURRENT&quot;)</code></pre>
<p>Si nous désirons ouvrir un projet existant, nous remplacerons &quot;CURRENT&quot; par le chemin vers le projet. Dès lors nous pouvons demander le titre du projet :</p>
<pre class="python"><code># titre du projet courant
print mxd.title</code></pre>
<p>et puisqu'il est nul, lui affecter une valeur :</p>
<pre class="python"><code># nouveau titre
mxd.title=&quot;Un premier projet&quot;</code></pre>
<p>Enregistrons le projet dans le répertoire de travail <em>via</em> une fenêtre de dialogue :</p>
<pre class="python"><code># sauvegarde du projet
# pour ouvrir une boite de dialogue si pas deja enregistre
mxd.save()</code></pre>
<p>Après cela le titre du projet dans le bandeau supérieur de la fenêtre Arcmap a changé !</p>
</div>
<div id="chargement-dune-couche-vectorielle-dans-le-dataframe-layer" class="section level1">
<h1>Chargement d'une couche vectorielle dans le dataframe &quot;Layer&quot;</h1>
<p>Arcgis organise les données au sein de <code>dataframe</code>. Afin de charger et d'afficher une couche, il est nécessaire d'obtenir l'identifiant du <code>dataframe</code> appelé <code>Layer</code>, automatiquement créé lors de l'ouverture d'un projet vierge. Nous l'appellerons originalement <code>df</code>.</p>
<pre class="python"><code># Chargement des groupes de dataframes. Lieu de stockage des couches 
df=mapping.ListDataFrames(mxd)[0]</code></pre>
<p>Puis nous pouvons charger la couche vectorielle des communes de France dans Python,</p>
<pre class="python"><code># Ajout de couche vectorielle
import os.path
# chargement de la couche vectorielle des communes de France
communes=mapping.Layer(os.path.join(data_path,&quot;COMMUNES/communes-20200101.shp&quot;))</code></pre>
<p>Et l'afficher dans le <code>dataframe</code> <code>df</code> et par là dans l'interface graphique.</p>
<pre class="python"><code># ajout de la couche au projet, dans le dataframe df  sans ordre 
mapping.AddLayer(df,communes,&quot;AUTO_ARRANGE&quot;)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-11"></span>
<img src="images_qgis/4.png" alt="Couche affichée" width="80%" />
<p class="caption">
Figure 3: Couche affichée
</p>
</div>
</div>
<div id="description-des-champs-dune-couche-vectorielle" class="section level1">
<h1>Description des champs d'une couche vectorielle</h1>
<p>Nous désirons connaître les différents champs et certaines propriétés de la couche. En ce qui concerne les champs nous utilisons la fonction <code>LisFields</code> appliquée à la couche <code>communes</code> qui renvoie un itérateur sur les champs. Pour désigner la couche, nous pouvons, soit la désigner par le nom de la variable Python <code>communes</code>, soit par le nom avec lequel elle est désignée dans le dataframe <code>Layer</code>, i.e. <code>&quot;communes-20200101&quot;</code>. Ceci restera vrai dès que l'on veut appeler une couche dans Arcgis.</p>
<pre class="python"><code># Description des champs de la couche
fieldlist=arcpy.ListFields(communes)
# ou fieldlist=arcpy.ListFields(&quot;communes-20200101&quot;)
for field in fieldlist:
    print &quot;%s est de type %s avec une longueur de %i&quot;%(field.name,field.type, field.length)</code></pre>
<p>Afin de connaître d'autres propriétés de la couche, nous pouvons faire appel à la fonction <code>describe</code> appliquée à la couche <code>communes</code>. Cette fonction retourne un objet possédant les attributs de description de la couche.</p>
<pre class="python"><code># Description de la couche 
desc=arcpy.Describe(&quot;communes-20200101&quot;)
print &quot;La geometrie est de type : &quot;+desc.featureType
print &quot;La forme de la geometrie est de type : &quot;+desc.shapeType
print &quot;Le nom de la couche est : &quot;+ desc.name
print &quot;Le chemin absolu vers la donnee est : &quot;+desc.path
print &quot;L&#39;extension de la couche est Xmin = %f, Ymin=%f, Xmax=%f, Ymax=%f&quot; %(desc.extent.XMin, desc.extent.YMin, desc.extent.XMax, desc.extent.YMax )</code></pre>
</div>
<div id="sélection-par-attribut-dentités-dans-une-couche-vectorielle." class="section level1">
<h1>Sélection par attribut d'entités dans une couche vectorielle.</h1>
<p>Afin de sélectionner une entité par une requête sur la valeur d'un champs dans une couche vectorielle, il est nécessaire de définir une expression. Ici nous choisissons de ne sélectionner que les communes de l'Aude, via un test sur les deux premiers caractère du champs <code>insee</code>. Se référer au cour de SQL pour l'écriture des expressions.</p>
<pre class="python"><code># Selection des communes de l aude
# communes de l aude a partir du code insee : delection des codes insee commençant pat 11
expression=&#39; &quot;insee&quot; LIKE \&#39;11%\&#39; &#39;</code></pre>
<p>Puis nous pouvons sélectionner les communes de l'Aude <em>via</em> une fonction qui créé une couche temporaire stockant les entités sélectionnées qui s'appellera <code>&quot;communes_aude&quot;</code> dans l'affichage. Si nous avions ajouté le suffixe <code>&quot;.shp&quot;</code> au nom de la couche <code>&quot;communes_aude&quot;</code>, cette couche aurait été permanente, enregistrée dans le répertoire de travail.</p>
<pre class="python"><code># creation d une couche temporaire communes_aude des entites selectionnees 
arcpy.MakeFeatureLayer_management(communes,&quot;communes_aude&quot;,expression)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-16"></span>
<img src="images_qgis/5.png" alt="Couche des entitées sélectionnées" width="80%" />
<p class="caption">
Figure 4: Couche des entitées sélectionnées
</p>
</div>
</div>
<div id="fusion-dentités" class="section level1">
<h1>Fusion d'entités</h1>
<div id="accéder-à-laide-sur-la-toolbox" class="section level2">
<h2>Accéder à l'aide sur la Toolbox</h2>
<p>Nous voulons fusionner les communes de l'Aude en une seule entité géométrique afin d'obtenir la couche du département. L'aide de Arcgis, en particulier les commandes Python, est bien renseignée. Nul besoin de connexion internet pour l'instant ! Afin d'atteindre l'aide relative à l'outil <code>dissolve</code>, il faut cliquer sur l'onglet <em>Geoprocessing</em>&gt;<em>Search for tools</em></p>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-17"></span>
<img src="images_qgis/6.png" alt="Accéder à l'aide sur la Toolbox" width="80%" />
<p class="caption">
Figure 5: Accéder à l'aide sur la Toolbox
</p>
</div>
Dans la barre de recherche de la fenêtre qui s'est ouverte, taper le mot clé &quot;dissolve&quot; puis sélectionner l'aide relative à l'outil (en surbrillance verte sur l'image).
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-18"></span>
<img src="images_qgis/7.png" alt="Moteur de recherche" width="60%" />
<p class="caption">
Figure 6: Moteur de recherche
</p>
</div>
La fenêtre de dialogue de l'outil s'ouvre alors. Nous pouvons l'utiliser en mode &quot;clic bouton&quot;, mais nous préférons nous référer à l'aide en cliquant sur le bouton <em>Tool help</em>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-19"></span>
<img src="images_qgis/8.png" alt="Fenêtre d'utilisation de l'outils" width="70%" />
<p class="caption">
Figure 7: Fenêtre d'utilisation de l'outils
</p>
</div>
Une nouvelle fenêtre d'aide s'ouvre. En faisant dérouler la barre de défilement, nous atteignons l'aide Python de l'outil, qui décrit les paramètres d'entrée, de sortie, et la syntaxe à utiliser. Tout en bas, nous disposons même d'exemples en ligne de commandes.
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-20"></span>
<img src="images_qgis/9.png" alt="Aide sur l'outils" width="100%" />
<p class="caption">
Figure 8: Aide sur l'outils
</p>
</div>
</div>
<div id="enregistrement-de-lasortie-dans-une-couche-mémoire" class="section level2">
<h2>Enregistrement de lasortie dans une couche mémoire</h2>
<p>Comme avec tout logiciel de SIG qui se respecte, l'utilisation des couches mémorie et notamment leur création est malaisée. Avec Arcgis, nous utilisons un répertoire préconçu désigné par le chemin <code>in_memory</code>. Pour plus d'informations cliquer sur le lien ci-après : <a href="https://pro.arcgis.com/fr/pro-app/tool-reference/appendices/using-the-in-memory-output-workspace.htm">couche mémoire</a></p>
</div>
<div id="mise-en-pratique-de-loutil" class="section level2">
<h2>Mise en pratique de l'outil</h2>
<p>Il ne nous reste plus qu'à écrire le script afin de réaliser la fusion des communes</p>
<pre class="python"><code># couche en entree
in_features=&quot;communes_aude&quot;
# couche memoire en sortie attention a la syntaxe
out_feature_class=r&quot;in_memory\departement_aude&quot;
# execution du programme
arcpy.Dissolve_management (in_features,out_feature_class)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:unnamed-chunk-22"></span>
<img src="images_qgis/10.png" alt="Tâche réalisée" width="100%" />
<p class="caption">
Figure 9: Tâche réalisée
</p>
</div>
</div>
</div>
<div id="suppresion-dune-couche-de-laffichage" class="section level1">
<h1>Suppresion d'une couche de l'affichage</h1>
<p>Afin de supprimer une couche, il est nécessaire d'obtenir son identifiant au sein du <code>dataframe</code> <code>Layer</code> puis d'utiliser la fonction <code>RemoveLayer</code>. Attention, après cette étape, si la couche n'a plus d'existence graphique, elle est toujours stockée dans Python, si elle a été stockée dans une variable (ce n'est pas le cas ici, car c'est une couche mémoire)</p>
<pre class="python"><code># supression de la couche des communes de l Aude
# identifiant de la couche dans le projet et le dataframe
refLayer=mapping.ListLayers(mxd,&quot;communes_aude&quot;,df)[0]
# suppression de la couche
mapping.RemoveLayer(df,refLayer)</code></pre>
<p>::: {.homework data-latex=&quot;&quot;} Supprimer la couche du département de l'Aude ::: <details> <summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># identifiant de la couche dans le projet et le dataframe
refLayer=mapping.ListLayers(mxd,&quot;departement_aude&quot;,df)[0]
# suppression de la couche
mapping.RemoveLayer(df,refLayer)</code></pre>
<p></details></p>
</div>
<div id="tâches-à-réaliser" class="section level1">
<h1>Tâches à réaliser</h1>
<p>::: {.homework data-latex=&quot;&quot;} Charger la couche des régions de France et l'afficher dans le canevas. ::: <details> <summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># chargement de la couche des regions de France
regions=mapping.Layer(os.path.join(data_path,&quot;REGIONS/regions-20180101.shp&quot;))
# ajout de la couche au projet, dans le dataframe df a la fin 
mapping.AddLayer(df,regions,&quot;BOTTOM&quot;)</code></pre>
<p></details> ::: {.homework data-latex=&quot;&quot;} Sélectionner la région Occitanie dans une couche mémoire ::: <details> <summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># Selection de la region occitanie
expression=&#39; &quot;nom&quot; LIKE \&#39;Occitanie\&#39; &#39;
# parametres
in_layer_or_view=regions
selection_type=&quot;NEW_SELECTION&quot;
where_clause=expression
# selection  des entites
arcpy.SelectLayerByAttribute_management(in_layer_or_view,selection_type,where_clause)
# enregistrement de la selection dans une couche memoire
arcpy.CopyFeatures_management(&quot;regions-20180101&quot;, &#39;in_memory\occitanie&#39;)
# suppression de la selection
arcpy.SelectLayerByAttribute_management(in_layer_or_view,&quot;CLEAR_SELECTION&quot; )</code></pre>
<p></details> ::: {.homework data-latex=&quot;&quot;} Sélectionner par localisation les communes d'Occitanie et enregistrer cette sélection dans une couche permanente <code>communes_occitanie.shp</code> ::: <details> <summary><strong>SOLUTION</strong></summary></p>
<pre class="python"><code># creation de la couches des communes d occitanie selection par localisation
in_layer=&quot;communes-20200101&quot;
overlap_type=&quot;WITHIN&quot;
select_features=&quot;occitanie&quot;
arcpy.SelectLayerByLocation_management(in_layer, overlap_type,select_features)
# Sauvegarde des communes dans une nouvelle couche communes_occitanie.shp du dossier RES
arcpy.CopyFeatures_management(&quot;communes-20200101&quot;, &quot;communes_occitanie.shp&quot;)
# Suppression de la selection
arcpy.SelectLayerByAttribute_management(&quot;communes-20200101&quot;,&quot;CLEAR_SELECTION&quot; )</code></pre>
<p></details></p>
</div>
